{% load static i18n %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<link href="{% static 'pages/css/custom_ckeditor.css' %}" rel="stylesheet">
{% if request.user.is_staff %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <span class="navbar-brand" href="#"><i>{% trans "Administrar" %}</i></span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nep" aria-controls="nep" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nep">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            {% url 'victimas:create' as victimas_create %}
            <a class="nav-link {% if request.path == victimas_create %}active{% endif %}" href="{% url 'victimas:create' %}"><i>{% trans "Crear victimas" %}</i></a>
          </li>
          <li class="nav-item">
              {% url 'victimas:victimas' as victimas_victimas %}
            <a class="nav-link {% if request.path == victimas_victimas %}active{% endif %}" href="{% url 'victimas:victimas' %}"><i>{% trans "Listar victimas" %}</i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endif %}