{% extends 'core/base.html' %}
{% load static %}
{% block title %}Crear script{% endblock %}
{% block content %}
{% include 'scripts/includes/scripts_menu.html'%}
<main role="main">
  <div class="container">
    <div class="row mt-3 mb-5">
      <div class="col-md-9 mx-auto">
          <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <div class="text-center">
              <input type="submit" class="btn btn-primary btn-block" value="Crear script" />
            </div>
          </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}