{% extends 'core/base.html' %}
{% load static %}
{% block title %}Scripts{% endblock %}
{% block content %}
{% include 'scripts/includes/scripts_menu.html' %}
<main role="main">
  <div class="container mb-4">
    {% for script in script_list|dictsort:"id" reversed %}
      <div class="row mt-3">
        <div class="col-md-9 mx-auto">
          <h2 class="mb-4">{{script.name}}</h2>
          <div>
            <p>{{script.content|striptags|safe|truncatechars:"200"}}</p>
            <p><a href="{% url 'scripts:script' script.id script.name|slugify %}">Leer más</a>
              {% if request.user.is_staff %}
                | <a href="{% url 'scripts:update' script.id %}">Editar</a>
                | <a href="{% url 'scripts:delete' script.id %}">Borrar</a>
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
