{% extends 'core/base.html' %}
{% load static i18n %}
{% block title %}{% trans "Scripts" %}{% endblock %}
{% block content %}
{% include 'scripts/includes/scripts_menu.html' %}
<main role="main">
  <div class="container mb-4">
    {% for script in script_list|dictsort:"id" reversed %}
      <div class="row mt-3">
        <div class="col-md-9 mx-auto">
          <h2 class="mb-4">{{script.name}}</h2>
          {% if script.link %}
            <a href="{{ script.link }}" target="_blank">
          {% endif %}
          <img src="{{ script.imagen_url }}" alt="Avatar" style="width: 100px; height: 100px; border-radius:50%" class="mb-4">
          {% if script.link %}
            </a>
          {% endif %}
          <div>
            <p>{{script.content|safe|truncatechars:"200"}}</p>
            <p><a href="{% url 'scripts:script' script.id script.name|slugify %}" class="btn btn-primary btn-sm m-2 mt-3">{% trans 'Leer más' %}</a>
              {% if request.user.is_staff %}
                <a href="{% url 'scripts:update' script.id %}" class="btn btn-info btn-sm m-2 mt-3">{% trans 'Editar' %}</a>
                <a href="{% url 'scripts:delete' script.id %}" class="btn btn-danger btn-sm m-2 mt-3">{% trans 'Borrar' %}</a>
              {% endif %}
            </p>
          </div>
        </div>
      </div>
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
  </div>
</main>
{% endblock %}
