{% extends 'core/home.html' %}
{% load static i18n %}
{% block victimas %}
<div class="container ontainer-fluid mb-4 mt-4">
  <div class="row">
    <div class="col-md-4">
      <h2>{% trans "Objetivos" %}</h2>
      {% if request.user.is_staff %}
        <div>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a href="{% url 'objetivos:create' %}" class="btn btn-success btn-sm btn-block mt-3">{% trans 'Nuevo objetivo' %}</a>
            </li>
          </ul>
        </div>
      {% endif %}
      {% if victimas_list %}
        <hr>
        {% for victima in victimas_list|dictsort:"id" reversed %}
          <div class="row mt-3">
            <div class="col-md-9 mx-auto">
              <h3 class="mb-4">{{victima.title}}</h3>
              <div>
                <p>
                  {% if victima.link %}
                    <a href="{{ victima.link }}" target="_blank">
                  {% else %}
                    <a href="{% url 'objetivos:objetivo' victima.id victima.title|slugify %}">
                  {% endif %}
                  {% if victima.imagen_url == "/media/victimaimages/victima.png" %}
                    <img src="{{ victima.imagen_url }}" alt="Avatar" style="width: 60px; height: 60px;" class="mb-1"></a>
                  {% else %}
                    <img src="{{ victima.imagen_url }}" alt="Avatar" style="width: 100px; height: 100px; border-radius:50%" class="mb-4"></a>
                  {% endif %}
                </p>
                <p>{{victima.content|safe|truncatechars:"100"}}</p>
                <p><a href="{% url 'objetivos:objetivo' victima.id victima.title|slugify %}" class="btn btn-primary btn-sm btn-block mt-3">{% trans "Leer más" %}</a></p>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="row mt-3">
          <div class="col-md-9 mx-auto">
            <h3 class="mb-4">{% trans "No hay ninguna víctima en la lista" %}</h3>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="col-md-4">
      <h2>{% trans "Scripts" %}</h2>
      {% if request.user.is_staff %}
        <div>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a href="{% url 'scripts:create' %}" class="btn btn-success btn-sm btn-block mt-3">{% trans 'Nuevo script' %}</a>
            </li>
          </ul>
        </div>
      {% endif %}
      {% if scripts_list %}
        <hr>
        {% for script in scripts_list|dictsort:"id" reversed %}
          <div class="row mt-3">
            <div class="col-md-9 mx-auto">
              <h3 class="mb-4">{{script.name}}</h3>
              <div>
                <p>
                  {% if script.link %}
                    <a href="{{ script.link }}" target="_blank">
                  {% else %}
                    <a href="{% url 'scripts:script' script.id script.name|slugify %}">
                  {% endif %}
                  {% if script.imagen_url == "/media/scriptimages/script.png" %}
                    <img src="{{ script.imagen_url }}" alt="Avatar" style="width: 60px; height: 60px;" class="mb-1"></a>
                  {% else %}
                    <img src="{{ script.imagen_url }}" alt="Avatar" style="width: 100px; height: 100px; border-radius:50%" class="mb-4"></a>
                  {% endif %}
                </p>
                <p>{{script.content|safe|truncatechars:"100"}}</p>
                <p><a href="{% url 'scripts:script' script.id script.name|slugify %}" class="btn btn-primary btn-sm btn-block mt-3">{% trans 'Leer más' %}</a>
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="row mt-3">
          <div class="col-md-9 mx-auto">
            <h3 class="mb-4">{% trans "No hay ningun script en la lista" %}</h3>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="col-md-4">
      <h2>{% trans "Herramientas" %}</h2>
      {% if request.user.is_staff %}
        <div>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a href="{% url 'tools:create' %}" class="btn btn-success btn-sm btn-block mt-3">{% trans 'Nueva herramienta' %}</a>
            </li>
          </ul>
        </div>
      {% endif %}
      {% if tools_list %}
        <hr>
        {% for tool in tools_list|dictsort:"id" reversed %}
          <div class="row mt-3">
            <div class="col-md-9 mx-auto">
              <h3 class="mb-4">{{tool.name}}</h3>
              <div>
                <p>
                  {% if tool.link %}
                    <a href="{{ tool.link }}" target="_blank">
                  {% else %}
                    <a href="{% url 'tools:tool' tool.id tool.name|slugify %}">
                  {% endif %}
                  {% if tool.imagen_url == "/media/toolimages/tool.png" %}
                    <img src="{{ tool.imagen_url }}" alt="Avatar" style="width: 60px; height: 60px;" class="mb-1"></a>
                  {% else %}
                    <img src="{{ tool.imagen_url }}" alt="Avatar" style="width: 100px; height: 100px; border-radius:50%" class="mb-4"></a>
                  {% endif %}
                </p>
                <p>{{tool.content|safe|truncatechars:"100"}}</p>
                <p><a href="{% url 'tools:tool' tool.id tool.name|slugify %}" class="btn btn-primary btn-sm btn-block mt-3">{% trans 'Leer más' %}</a>
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="row mt-3">
          <div class="col-md-9 mx-auto">
            <h3 class="mb-4">{% trans "No hay ninguna herramienta en la lista" %}</h3>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}